body {
    background-color: #e0e0e0;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

img {
    width: 150px;
    height: auto;
}
